* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
  }

  body {
    background-image: url("../images/fundal.jpg");
    background-color: #cccccc;
    font-family: "", fantasy;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: outset;
    background: rgba(255, 255, 255, 0.747);
  }
  form input:hover{
    background: #64c186;
    color: #e3e8e5;
  }
  form button {
    color: #64c186;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.25rem;
  }
  form button:hover {
    background: #64c186;
    color: rgba(255, 255, 255, 0.805);
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: rgba(255, 255, 255, 0.747);
    font-size: 1rem;
    color: #64c186;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 0.5rem;
  }
  .todo li {
    flex: 1;
  }
  .todo:hover{
    background: #64c186;
    color: rgba(255, 255, 255, 0.805);
  }
  .todo.trash-btn::after{
    animation: fadeout 3s;
  }
  .trash-btn,
  .complete-btn {
    background: #64c186;
    color: rgba(255, 255, 255, 0.747);
    border: outset;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: "", fantasy;
  }
  .complete-btn :hover{
    background: #e3e8e5;
    color: #64c186;
  }
  .trash-btn:hover{
    background: #e3e8e5;
    color: #64c186;
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fas-fa-trash,
  .fas-fa-check {
    pointer-events: none;
  }

  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }

  .completed {
    text-decoration: line-through wavy #d60b0b;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: outset !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1.3rem;
    position: relative;
    overflow: hidden;
  }
  select {
    background-color: rgba(255, 255, 255, 0.747);
    color: #000000;
    font-family: "", fantasy;
    cursor: pointer;
    width: 12rem;
    border: outset;
  }
  
  @media screen and (min-width: 100px) and (max-width: 199px)
{
    .select
    {
        width: 25px;
    }
}


  select:hover{
    background: rgba(255, 255, 255, 0.805);
    color: #64c186;
  }

  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #64c186;
    cursor: pointer;
    pointer-events: none;
  }

  .select:hover::after {
    transform: scale(1.5);
  }

  

 

